@page
@model MadEasy.Pages.Dwellings.DetailsModel

@{
    ViewData["Title"] = "Details-Dwelling";
}

<h1>Dwelling Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.PropertyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.PropertyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.Agent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.Agent.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.City.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.SalesOffice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.SalesOffice.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.ExpectedPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.ExpectedPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.Available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.Available)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.DateOfListing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.DateOfListing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.Old)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.Old)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Dwelling.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
