@page
@model MadEasy.Pages.Dwellings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dwelling</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.PropertyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.PropertyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.Agent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.Agent.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.City.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.SalesOffice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.SalesOffice.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.ExpectedPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.ExpectedPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.Available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.Available)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.DateOfListing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.DateOfListing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.Note)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Dwelling.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
