@page
@model MadEasy.Pages.Agents.IndexModel

@{
    ViewData["Title"] = "All Agents";
}

<h1>All Agents Directory</h1>

<p>
    <a asp-page="Create">Create a New Agent</a>
</p>
<table class="table" style="color:white">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].SalesOffice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Agent) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesOffice.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
